{
  "LOCAL_PATH": "/images/",

  "UPYUN_BUCKET_NAME": "bucket_name",
  "UPYUN_OPERATOR_NAME": "operator_name",
  "UPYUN_OPERATOR_PWD": "operator_pwd",
  "UPYUN_PATH": "/node_images/",
  "UPYUN_DOMAIN": "http://bucket_name.b0.upaiyun.com",

  "CONSUMER_KEY": "",
  "CONSUMER_SECRET": "",
  "OAUTH_TOKEN": "",
  "OAUTH_TOKEN_SECRET": ""
}
